**/src/**/*.d.ts
*.env
*hot-update.js*
.cache
.DS_Store
.idea
.nyc_output
.vscode
.yarnclean
coverage
dist
lerna-debug.log
node_modules
npm-debug.log*
package-lock.json
packages/desktop-updater-ui/.renderer/bundle.js
yarn-error.log
