**/src/**/*.d.ts
*.env
*hot-update.js*
.DS_Store
.cache
.idea
.vscode
.yarnclean
dist
lerna-debug.log
node_modules
npm-debug.log*
package-lock.json
packages/desktop-updater-ui/.renderer/bundle.js
yarn-error.log
