html,
body {
  user-select: none;
  cursor: default;

  .selectable {
    user-select: text;
    cursor: text;
  }

  ::selection {
    background: #171717;
    color: #fff;
  }

  background-color: transparent;

  div#root {
    .node {
      background-color: transparent;
    }

    h2 {
      margin-top: 0;
    }
  }

  overflow: hidden;

  // Window dragging
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
  }
}
